@font-face {
	font-family: RobotoMono;
	src: url("../assets/RobotoMono-Regular.ttf");
}

:root {
    --banner-color: #FEE1C7;
    --banner-text-color: #33353C;
    --banner-height: 10vh;

    --button-color: #FA7E61;
    --button-color-hover: #F95C39;
    --button-text-color: #33353C;
    --button-width: 10rem;
    --button-height: 3rem;
    --margin: 1.5rem;

    --face-hidden-color: #725752;
    --background-accent-color: #B5A886;

    --icon-size: 3rem
}

::-webkit-scrollbar {
    width: 1rem;
  }
  ::-webkit-scrollbar-track {
    background-color: white;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #33353C;
    border-radius: 0.5rem;
  }

body {
    margin: 0;
    font-family: RobotoMono;
    overflow-x: hidden;
    color: #33353C;
}
#top-banner {
    display: flex;
    align-items: end;
    box-sizing: border-box;
    padding: 1rem;
    justify-content: space-between;
    height: var(--banner-height);
    width: 100vw;
    background-color: var(--banner-color);
}
#text {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
}
#logos {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

#text h1 {
    color: var(--banner-text-color);
    margin: 0;
}
#text p {
    color: var(--banner-text-color);
    margin: 0;
}
#body-content {
    position: absolute;
    left: 0;
    top: var(--banner-height);
    width: 100vw;
    height: calc(100vh - var(--banner-height));
}
#button-connect {
    position: absolute;
    left: 50%;
    top: 50%;
}
#button-reconnect {
    position: absolute;
    right: var(--margin);
    top:var(--margin);
}
#button-disconnect {
    position: absolute;
    top: calc(var(--margin)*3 + var(--button-height)*2);
    right:var(--margin);
}
#button-restart {
    position: absolute;
    top: calc(var(--margin)*2 + var(--button-height));
    right: var(--margin);
}
#table-images {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: calc(100vh - var(--banner-height) - 2 * var(--margin));
    margin: var(--margin);
    text-align: center;
}
#table-body {
    overflow-y: scroll;
    height: 90%;
}
.table-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.table-row > * {
    width: 25%;
    height:auto;
}
#p-solution {
    position: absolute;
    bottom: var(--margin);
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 8vh;
    background-color: #B5A886;
    color: #725752;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;

}
#faces-found {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    left: var(--margin);
    top: 50%;
    transform: translateY(-50%);
    width: 5vw;
    height: 50vh;
    background-color: var(--background-accent-color);
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
}
#canvas-3dvis {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#title {
    position: absolute;
    margin: 0;
    left: 50%;
    top: 1.5rem;
    transform: translateX(-50%);
    color: #FA7E61;
    font-size: 2rem;
    font-family: RobotoMono;
}
#blocker {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
}

.button {
    width: var(--button-width);
    height: var(--button-height);
    border-radius: 1rem;
    background-color: var(--button-color);
    color: var(--button-text-color);
    outline: none;
    border: none;
    cursor: pointer;
    font-family: RobotoMono;
    font-size: 1.25rem;
    text-align: center;
}
.button:hover {
    background-color: var(--button-color-hover);
}
.large {
    transform: translate(-50%, -50%) scale(200%, 200%);
}
.face-letter {
    margin: 0;
    color: var(--face-hidden-color);
    font-size: 2rem;
}
.hidden {
    opacity: 0;
}
.logo-icon {
    border-radius: 10%;
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: white;
}